/// innocent_menus mixin
//
/// @param {UNIT} $mp Menu padding
/// @param {UNIT} $ih Image height
//
//
/// @example
/// menu {
///   @include innocent_menus();
/// }
/// nav {
///   @include innocent_menus(12px, 48px);
/// }
@mixin innocent_menus($mp: 0, $ih: 0) {
  box-sizing: border-box;
  &:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    width: 0;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  label {
    font-weight: bold;
  }

  a,
  label {
    cursor: pointer;
    display: block;
    @if not no_means_no($mp) {
      padding: $mp;
    }
    white-space: nowrap;

    img {
      @if not no_means_no($ih) {
        height: $ih;
        width: auto !important;
      }
    }
  }

  a,
  label {
    padding-right: 25px !important;
    white-space: nowrap;
  }

  menu,
  nav {
    margin: 0;
    padding: 0;
    @if not no_means_no($mp) {
      padding-left: $mp;
      padding-right: $mp;
    }
  }
  // Hidden
  > menu > menu,
  > nav > nav {
    display: none;
    visibility: hidden;
  }
  // Visible
  > menu:hover > menu,
  > nav:hover > nav {
    max-height: 700px;
    opacity: 1;
    display: block;
    visibility: visible;
    // z-index: 100000;
  }

  // No dropdowns tight.
  // @include tight {
  //   menu,
  //   nav {
  //     width: 100%;
  //   }
  //   menu:hover > label +,
  //   nav:hover > label + {
  //     menu,
  //     nav {
  //       position: relative;
  //     }
  //   }
  // }
}
