code {
  @include colorize_god(rgba($god-blushed, 0.3), black);
  padding: 0 $inline-padding;
  word-break: keep-all;
}

pre > code {
  @include colorize_god(inherit, inherit);
  overflow-x: scroll;
  white-space: pre;
}
