table {
  display: table !important;
  text-align: left;

  td,
  th {
    padding: $inline-padding $personal-space;
  }

  > thead,
  > tfoot,
  > tbody {
    th {
      @include fontize_god($god-head, 800, $pillar-color);
    }
  }

  > thead {
    th {
      border-bottom: $god-border;
    }
  }

  > tfoot {
    th {
      border-top: $god-border;
    }
  }

  > tbody {
    td,
    th {
      border-bottom: $god-border;
    }
  }

  > tfoot {
    th {
      text-align: right;
    }
  }

  @if not no_means_no($toothpaste-color) {
    tr:nth-child(even) {
      background: $toothpaste-color;
    }
  }
  @include tight {
    margin-left: $god-space !important;
    margin-right: $god-space !important;
    // width: 100% - $god-space * 2;
  }
}
