menu {
  @include innocent_menus($personal-space, 50px);
  position: relative;
  // Horizontal alignment
  a,
  label {
    padding: $inline-padding $personal-space;
  }
  > a,
  > menu,
  > nav {
    float: left;
  }
  menu:hover > label +,
  nav:hover > label + {
    menu,
    nav {
      position: absolute;
    }
  }
}
