figure {
  border: $god-border;
  box-sizing: border-box;
  padding: $personal-space !important;

  figcaption {
    @include fontize_god($god-head, "none", $pillar-color);
    margin-top: $personal-space;
  }

  @include tight {
    margin-left: $god-space !important;
    margin-right: $god-space !important;
  }
}
