input[type="file"],
button {
  @include elio_button(
    $god-spoke,
    white,
    $pillar-color,
    $god-border,
    $inline-padding,
    $personal-space
  );
  big {
    font-weight: bold;
    vertical-align: middle;
  }
}
