dl {
  padding: 0;
  padding-bottom: $personal-space;
  padding-top: $personal-space;

  > dt {
    background: $god-blushed;
    color: $heaven-color;
    font-size: $god-spoke;
    font-weight: bold;
    margin: 0;
    padding: $inline-padding;
  }

  > dd {
    margin: $personal-space;
  }
}
