details {
  @include colorize_god($god-blushed, black, $hell-color 1px solid);
  padding: 0;

  summary {
    @include colorize_god($hell-color, white);
    @include fontize_god($god-head, "none", white);
    cursor: pointer;
  }

  > * {
    padding: $inline-padding $personal-space;
  }
}
