pre {
  @include colorize_god($god-blushed, black);
  overflow-x: scroll;
  margin-top: $god-space;
  padding-top: $god-space;
  padding-bottom: $god-space;
  white-space: pre;
  word-break: keep-all;

  @include tight {
    margin-left: $god-space !important;
    margin-right: $god-space !important;
    width: 100% - ($god-space * 2) !important;
  }
}
