form {
  label {
    margin-top: $personal-space;
  }

  legend {
    font-size: $god-spoke;
    font-weight: bold;
    margin-bottom: $god-space;
    margin-top: $god-space;
  }

  label,
  legend {
    @include fontize_god($god-head, "none", $god-color);
  }

  textarea {
    width: 100%;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: $inline-padding;

    + label {
      @include fontize_god($god-head, "none", $god-color);
      display: inline-block;
      margin-right: $personal-space;
      page-break-before: avoid;
    }
  }

  fieldset {
    border: $god-border;
    margin-top: $personal-space;
    padding: 0 $personal-space;

    label {
      display: block;
    }

    button,
    input,
    select,
    textarea {
      box-sizing: border-box;
      margin-bottom: $personal-space;
    }

    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="url"],
    select,
    textarea {
      box-sizing: border-box;
      padding: $inline-padding;
      width: 100%;
    }

    input:not([type]) {
      box-sizing: border-box;
      padding: $inline-padding;
      width: 100%;
    }

    input[type="color"],
    input[type="range"] {
      display: inline-block;
      margin-bottom: $personal-space;
      vertical-align: middle;
    }

    input[type="date"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"] {
      margin-bottom: $personal-space;
    }

    button,
    input[type="submit"],
    input[type="reset"] {
      cursor: pointer;
    }
  }
  @include tight {
    margin-left: $god-space !important;
    margin-right: $god-space !important;
    // width: 100% - $god-space * 2;
  }
}
