img {
  height: auto;
  @include tight_and_cosy {
    padding: $inline-padding !important;
  }
}

figure {
  img {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }
}
