/// Use to test the **innocent_menus** mixin.
///
/// @example
/// // Add to your test build file `test/stylesheets.scss`
/// @import './node_modules/@elioway/innocent/test/mixins/innocent_menus';
@import "~@elioway/god/stylesheets/functions/no_means_no";
@import "~@elioway/god/stylesheets/mixins/fixed_height";
@import "../../stylesheets/mixins/innocent_menus";
@include test("@mixin innocent_menus()") {
  @include assert("not so innocent") {
    @include output {
      @include innocent_menus(12px, 80px);
    }
    @include expect {
      box-sizing: border-box;

      &:after {
        clear: both;
        content: "";
        display: block;
        height: 0;
        width: 0;
      }

      * {
        box-sizing: border-box;
      }

      a {
        text-decoration: none;
      }

      label {
        font-weight: bold;
      }

      a,
      label {
        cursor: pointer;
        display: block;
        padding: 12px;
        white-space: nowrap;
        img {
          height: 80px;
          width: auto !important;
        }
      }

      a,
      label {
        padding-right: 25px !important;
        white-space: nowrap;
      }

      menu,
      nav {
        margin: 0;
        padding: 0;
        padding-left: 12px;
        padding-right: 12px;
      }
      // Hidden
      > menu > menu,
      > nav > nav {
        display: none;
        visibility: hidden;
      }
      // Visible
      > menu:hover > menu,
      > nav:hover > nav {
        max-height: 700px;
        opacity: 1;
        display: block;
        visibility: visible;
      }
    }
  }
  @include assert("needs no parameters") {
    @include output {
      @include innocent_menus();
    }
    @include expect {
      box-sizing: border-box;

      &:after {
        clear: both;
        content: "";
        display: block;
        height: 0;
        width: 0;
      }

      * {
        box-sizing: border-box;
      }

      a {
        text-decoration: none;
      }

      label {
        font-weight: bold;
      }

      a,
      label {
        cursor: pointer;
        display: block;
        white-space: nowrap;
      }

      a,
      label {
        padding-right: 25px !important;
        white-space: nowrap;
      }

      menu,
      nav {
        margin: 0;
        padding: 0;
      }
      // Hidden
      > menu > menu,
      > nav > nav {
        display: none;
        visibility: hidden;
      }
      // Visible
      > menu:hover > menu,
      > nav:hover > nav {
        max-height: 700px;
        opacity: 1;
        display: block;
        visibility: visible;
      }
    }
  }
}
