// LAYOUT ==================
$god-space: 1%; // the horizontal padding in all the prongs.
$heaven-width: 20%; // prong width right (as a percentage to help scaling).
$hell-width: 20%; // prong width left (as a percentage to help scaling).
$personal-space: 6px; // the vertical padding between believers.
$transition: 0.5s;
// MEDIA BREAKS ==================
$god-loose: 1200px; // loose - prongs divided - no overlap.
$god-cosy: 900px; // cosy - overlap between sinners and the pillar.
$god-tight: 600px; // tight - believers full width - piller width small margin.
$heaven-cosy: 10%; // cosy - allow the heaven width to grow by this amount.
$hell-cosy: 10%; // cosy - allow the hell width to grow by this amount.
$pillar-cosy: 80%; // cosy - allow the pillar width to grow by this amount.
// COLORS ==================
$heaven-color: darkgrey; // dark color: mainly for bg with $pillar-color text.
$pillar-color: black; // dark color: mainly for heading text on white bg.
$hell-color: black; // dark color: mainly for bg with $pillar-color text.
$god-color: $pillar-color; // $god-color: the primary color
$god-blushed: lighten($heaven-color, 25); // $god-color: the primary tint color
// TEXT ==================
$god-h1: 400%; // font size of h1.
$god-h6: 100%; // font size of h6.
$god-p: 100%; // font size of paragraph text.
$god-spoke: $god-p * 1.5; // standout with big text.
$god-head: sans-serif; // for heading level text.
$god-body: serif; // for body level text.
// BASICS ==================
$god-border: 1px $god-blushed solid; // general purpose border
$inline-padding: 3px;
$toothpaste-color: "none";
// BELIEVERS ==================
$container: (body, main); // sin classes only affect direct children of these
$pillar: (
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  table,
  form,
  img,
  pre,
  footer,
  menu,
  nav,
  figure,
  figcaption,
  main
); // pillar - all tags are stictly contained the same way - no believers here.
$heaven: (aside); // hangs right - gets the best views.
$hell: (blockquote, details); // hangs left.
